$fondoNegro: rgba(0, 0, 0, 0.877);
$amarillo: rgba(226, 213, 32, 0.877);
$rojo: rgba(231, 27, 27, 0.877);
$verde: rgba(47, 197, 59, 0.877);
@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.first {
    background: $fondoNegro;
    color: blanchedalmond;
    text-align: center;
}

.integrantes {
    background: $fondoNegro;
    color: blanchedalmond;
    text-align: center;
    @include margenes(50px, 50px)
}

.breadcrumb {
    background: $fondoNegro;
    color: blanchedalmond;
}

.jumbotron {
    background: $fondoNegro;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    background: rgba(0, 0, 0, 0.877);
    color: blanchedalmond;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-info {
    background: rgba(0, 0, 0, 0.877);
    color: blanchedalmond;
    flex: 1 300px;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
}

.btn-infor {
    width: 100%;
}

.tab-content {
    padding-top: 10px;
}

.card-header {
    background: rgba(0, 0, 0, 0.877);
    color: blanchedalmond;
}

.card-body {
    background: rgba(0, 0, 0, 0.61);
    color: blanchedalmond;
}

body {
    background: rgba(0, 0, 0, 0.877);
}

button {
    background: blanchedalmond;
    color: black;
}