.first {
  background: rgba(0, 0, 0, 0.877);
  color: blanchedalmond;
  text-align: center;
}
.integrantes {
  background: rgba(0, 0, 0, 0.877);
  color: blanchedalmond;
  text-align: center;
}
.breadcrumb {
  background: rgba(0, 0, 0, 0.877);
  color: blanchedalmond;
}
.jumbotron {
  background: rgba(0, 0, 0, 0.877);
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  background: rgba(0, 0, 0, 0.877);
  color: blanchedalmond;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-info {
  background: rgba(0, 0, 0, 0.877);
  color: blanchedalmond;
  flex: 1 300px;
  padding: 2px 2px 2px 2px;
  margin-top: 10px;
}
.btn-infor {
  width: 100%;
}
.tab-content {
  padding-top: 10px;
}
.card-header {
  background: rgba(0, 0, 0, 0.877);
  color: blanchedalmond;
}
.card-body {
  background: rgba(0, 0, 0, 0.61);
  color: blanchedalmond;
}
body {
  background: rgba(0, 0, 0, 0.877);
}
button {
  background: blanchedalmond;
  color: black;
}
