@fondoNegro: rgba(0, 0, 0, 0.877);

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom; 
}

.first {
    background: @fondoNegro;
    color: blanchedalmond;
    text-align: center;
}

.integrantes {
    background: @fondoNegro;
    color: blanchedalmond;
    text-align: center;
}

.breadcrumb {
    background: @fondoNegro;
    color: blanchedalmond;
}

.jumbotron {
    background: @fondoNegro;
    .margenes(50px, 0px);

}

.footer {
    background: rgba(0, 0, 0, 0.877);
    color: blanchedalmond;
    text-align: center;
    .margenes(10px, 0px);
}

.card-info {
    background: rgba(0, 0, 0, 0.877);
    color: blanchedalmond;
    flex: 1 300px;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
}

.btn-infor {
    width: 100%;
}

.tab-content {
    padding-top: 10px;
}

.card-header {
    background: rgba(0, 0, 0, 0.877);
    color: blanchedalmond;
}

.card-body {
    background: rgba(0, 0, 0, 0.61);
    color: blanchedalmond;
}

body {
    background: rgba(0, 0, 0, 0.877);
}

button {
    background: blanchedalmond;
    color: black;
}